/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f6f6; /* Cor de fundo ligeiramente mais clara */
    min-height: 100vh; /* Define a altura mínima da página como 100% da altura da viewport */
    position: relative;
}

header {
    background-color: #ffcccc; /* Cor rosa claro */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #333; /* Cor do texto preto */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Cor do texto preto */
}

section {
    padding: 20px;
}

/* Estilos específicos */
#banner {
    background-image: url('https://i.postimg.cc/D0mHV3GZ/R.jpg'); /* Imagem de banner (opcional) */
    background-size: cover;
    color: #fff; /* Cor do texto branco */
    text-align: center;
    position: relative;
    height: 0%; /* Define a altura do banner como 100% da altura da viewport */
}

#banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto transparente */
}

#banner h2 {
    margin-top: 0;
}

#banner p {
    font-style: italic;
}

#produtos {
    text-align: center;
}

.produto {
    display: inline-block;
    margin: 20px;
}

.produto img {
    width: 200px;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
