/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.banner {
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 20px;
}

.produto {
    text-align: center;
    margin-bottom: 40px;
}

.produto img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.produto h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.produto p {
    font-size: 18px;
}

.rodape {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.logo {
  text-align: center;
  font-size: 36px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Centraliza os itens da lista */
}

ul li {
  display: inline;
  margin-left: 20px;
}

ul li:first-child {
  margin-left: 0; /* Remove a margem esquerda do primeiro item da lista */
}

ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #ddd;
}


